body{
    background-color: #D7E7F3;
    font-family: verdana;
    font-size: 2;
}
.bold-1{
    color: red;
}

.bold-2{
    color: red;
}

.bold-3{
    color: red;
}

.latihan-2{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12;

}

x{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: blue;
    font-size: 20px;
}

.latihan-3{
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
b,i,u{
    color: blue;
    font-family: arial;
}

.latihan-4{
background-color: bisque;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
}

a{
    color: red;
    text-decoration: none;
}

a:hover{
    color: green;
    background-color: yellow;
    font-weight: bolder;
}

img{
    width: 100px;
    height: 100px;
    background-color: #D7E7F3;
}